@using WebApplication1.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MovieDto

@{
    ViewData["Title"] = "Add Movie";
}

<form method="post">

    Title : <input asp-for="Title" type="text" />
    Release Date : <input asp-for="ReleaseDate" type="date" />
    Genre : <input asp-for="Genre" type="text" />
    Price : <input asp-for="Price" type="number" />

    <button asp-controller="Movie" asp-action="AddMovie">add movie</button>
</form>


